body{
  padding-top: 65px;
}

.jumbotron {
  margin-top: -5.5%;
  background-color:blue;
  background: url('http://wallpapercave.com/wp/Hvtxo6m.jpg') no-repeat center center;
  background-size: cover;
  color: white;

}

.buttonside{
  display: inline-table;
}

#deleteReward{
  display: inline-block;
}


#jumbo {
  color: white;
}

#jumbo1 {
  color: white;
}

.container{
margin-top: 10px;


}

img {
  width: 380px;
  height: 320px;
  margin: 0 auto;
}

.description {
  border: 1px solid black;
  padding: 4px;
}

#productphoto{
  width: 30px;
  height: 30px;
}

.panelprofile {
  height: 60%;
  width: 20%;
  border-radius: 25px;
}

.panel-body{
  border: 0.5px solid black;
  width: 110%;
  margin-left: -60px;
}

.panel-title{
  font-size: 30px;
}

footer {
  margin: 50px;
}

.panel.panel-default{
  width: 150%;
}

#thumbimage {
  width: 260px;
  height: 220px;
}
