<%- layout ('layout') %>

<div class="container">
<form method="post" action="/users-admin %>" class="userEditForm" role="form">
  <input name="_method" type="hidden" value="PUT">

    <h1></h1>
  <h3></h3>

  <div class="form-group">
    <label for="email">email</label>
    <input type="text" class="form-control" id="email" name="email" aria-describedby="email" value="#">
    <small id="Help" class="form-text text-muted">Please update user email</small>
  </div>

</form>
</div>
