<%- layout('layout') -%>

<div class="container">

<h1>Rewards Adminstrator</h1>

<div class="panel-body">
  <div class="row">


  <div class="col-md-4">
    <div>
    <img class="thumbnail" src="http://www.uobgroup.com/assets/images/about/gallery/uob-mobile-cash-withdrawals-b.jpg">
    <h4>Rewards and Products</h4>
    <p>Add or manage product information</p>
    <p><a class="btn btn-primary" href="/rewards-admin" role="button">Enter &raquo;</a></p>
 </div>
</div>

<div class="col-md-4">
  <div>
  <img class="thumbnail" src="http://www.clearwatercasino.com/wp-content/themes/clearwater-casino/images/Clearwater-Casino1.jpg">
  <h4>Users</h4>
  <p>Manage clients information</p>
  <p><a class="btn btn-primary" href="/users-admin" role="button">Enter &raquo;</a></p>
</div>
</div>

<div class="col-md-4">
<div>
<img class="thumbnail" src="http://www.changiairport.com/content/dam/cag/5-airport-experience/3-services-facilities/jetquay/jetquay-quayside-service-large.jpg">
<h4>Analytics</h4>
<p>View rewards and users analytics</p>
<p><a class="btn btn-primary" href="/analytics" role="button">Enter &raquo;</a></p>
</div>
</div>

</div>
</div>
</div>
