<%- layout('layout') -%>

<div class="container">

<h1>Rewards Adminstrator</h1>

<div class="panel-body">
  <div class="row">


  <div class="col-md-4">
    <div>
    <img class="thumbnail" src="http://www.starhub.com/content/dam/starhub/2015/rewards/tiles/tile-rewards-family.jpg">
    <h4>Rewards and Products</h4>
    <p>Add or manage product information</p>
    <p><a class="btn btn-primary" href="/rewards-admin" role="button">Enter &raquo;</a></p>
 </div>
</div>

<div class="col-md-4">
  <div>
  <img class="thumbnail" src="http://www.straitstimes.com/sites/default/files/styles/x_large/public/articles/2015/11/24/tap_and_pay_with_uob_mighty.jpg?itok=_DPrXNFG">
  <h4>Users</h4>
  <p>Manage clients information</p>
  <p><a class="btn btn-primary" href="/users-admin" role="button">Enter &raquo;</a></p>
</div>
</div>

<div class="col-md-4">
<div>
<img class="thumbnail" src="http://www.mavenwave.com/wp-content/uploads/2015/10/shutterstock_218740615-1.jpg">
<h4>Analytics</h4>
<p>View rewards and users analytics</p>
<p><a class="btn btn-primary" href="/analytics" role="button">Enter &raquo;</a></p>
</div>
</div>

</div>
</div>
</div>
