<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rewards Market</title>
    <link rel="stylesheet" href="/css/custom.css">
    <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.3/semantic.min.css"> -->

  </head>

  <body>
      <% include ./partials/navbar %>


      <%- body -%>


     <% include ./partials/footer %>
     <% include ./partials/javascript %>


  </body>
</html>
